.head {
    text-align: center;
    color: #33004d;
}

.head1 {
    font-weight: 400;
    color: #440066;
}

.head2 {
    font-weight: 600;
    color: #aa00ff;
}
.head3 {
    color:  #9900e6;
}

.inputtext {
    border: solid 2px#aa00ff;
    height: 50px;
}
.btnB {
    color: #b31aff;
    margin-left: 50px;
}
.todolistContainer {
    background-image: linear-gradient(to left,#cc66ff,#f7e6ff);
    height: 100vh;
}
.todolistContain {
    margin-top: 30px;
}

.stylinglistEl {
    list-style-type: none;
    margin-bottom: 10px;
    border: 2px violet solid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    border-left: solid 5px #b31aff;

}
.checkboxstyle {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 10px;
    color: #9900e6;
}
.taskEL {
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 2px;
}
.trashCan {
    margin-top: 10px;
    text-align: right;
    margin-right: 15px;
}

.stylechange {
    text-decoration: line-through;
}

